/* .button{
    width: fit-content;
    height: fit-content;
    margin: 0 10px;
    border: 1px solid grey;
} */
.image {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  &:hover {
  cursor: pointer;
  transition: 0.5s;
  transform: scale(1.2);
  }
}
